{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script data-require="angular.js@1.3.1" data-semver="1.3.1" src="//code.angularjs.org/1.3.1/angular.js"></script>
    <script data-require="ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <script src="{% static 'lib/smart-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/ng-file-upload-shim.min.js' %}" type="text/javascript"></script> <!-- for no html5 browsers support -->
    <script src="{% static 'lib/ng-file-upload.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/juice_controller.js' %}" type="text/javascript"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <img class="logo" src="https://tjn933c88fn3cfs9t18yhdw1-wpengine.netdna-ssl.com/wp-content/themes/html5blank/assets/img/logos/juicemobile.png">
        <h1>Juice Challenge</h1>

        <p>
            This is a simple web application which imports data from a CSV file uploaded by the user.<br/>
            The CSV file will contain rows of transactions and each transaction has these columns: date, category and spend.
        </p>
        <p>
            For more details of this challenge please refer: <a href="https://github.com/JUICEMobile/juice-challenge">Coding challenge for potential Juicers.</a>
        </p>

        <hr>

        <div id="content" ng-app='MyApp' >
            {% block content %}
            {{ content }}
            {% endblock %}
            <br class="clear" />
        </div>
    </div>

</body>
</html>