{% extends "base.html" %}
{% block title %}Juice Challenge{% endblock %}
{% block content %}
<div ng-controller='JuiceController' >
    <div class="row">
        <div class="col-md-6 clm-sm-12">
            <p>Please select a transaction csv file to upload.</p>
        </div>
        <div class="col-md-6 clm-sm-12">
            <input type="file" name="csv_file" accept=".csv" style="display: inline" ngf-select="fileUpload($files)" />
        </div>

        {% verbatim %}
        <div class="col-md-8 clm-sm-12" ng-if="csv_error">
            <hr>
            <h4 class="text-danger">Error: {{ csv_error_message }}</h4>
        </div>
        <div class="col-md-8 clm-sm-12" ng-if="transaction_summary">
            <hr>
            <h4 class="text-success">The summary of uploaded transactions</h4>
            <table st-table="transaction_summary" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="category">Category</th>
                    <th st-sort="spend">Spend</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transaction_summary">
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.spend | currency }}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <h4 class="text-success">Transaction details</h4>
            <table st-table="transactions" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="date">Date</th>
                    <th st-sort="category">Category</th>
                    <th st-sort="spend">Spend</th>
                </tr>
                <tr>
                    <th colspan="3">
                        <input st-search="category" placeholder="Search for category" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactions">
                    <td>{{ transaction.date | date : 'yyyy/MM/dd' }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.spend | currency }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endverbatim %}
    </div>
</div>
{% endblock %}